body {
  background-color: aliceblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 88%;
  height: 580px;
  display: flex;
  gap: 20px;
}

.image {
  border-radius: 80px;
  flex-grow: 1;
  background-size: cover;
  transition: 0.4s all;
  cursor: pointer;
}

.grow {
  flex-grow: 6;
}

#first {
  background-image: url('images/image-1.jpg');
}

#second {
  background-image: url('images/image-2.jpg');
}

#third {
  background-image: url('images/image-3.jpg');
}

#fourth {
  background-image: url('images/image-4.jpg');
}

#fifth {
  background-image: url('images/image-5.jpg');
}
